
.about-me {

  margin-top: -5%;
  padding-top: 10%;
  padding-left: 150px;
  min-height: 85vh;
  background: #F7F7F9;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0% 100%);
}

.skills-flexbox{
 display: flex;
}

.skills{
  background:#3261f2c2; ;
  position: relative;
  z-index: -1;
  margin-top: -5%;
  padding-top: 10%;
  min-height: 45vh;
  padding-left: 200px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
}

.projects{
  margin-top: -5%;
  padding-top: 10%;
  background: #F7F7F9 ;
  min-height: 85vh;
  z-index: -2;
  position: relative;
}

.projects-grid{

  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 20px;

}

.project{
  background-color: red;
}
