
.about-me {
  margin-top: -5%;
  padding-top: 8%;
  height: 500px;
  background: #F7F7F9;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0% 100%);
}

.about-me h3 {
  margin-bottom: 24px;
}



