
.about-me {
  margin-top: -5%;
  padding-top: 8%;
  height: 600px;
  background: #F7F7F9;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0% 100%);
}

.about-me h3 {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px;
}



