
.header{
  background-image:linear-gradient(180deg, rgba(23,1,1,0.73) 17%, rgba(23,1,1,0.60) 72%), url("images/header.jpg");
  background-size: cover;
  position: relative;
  height: 500px;
  z-index:1;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
}

h1{
  padding-top: 200px;
  font-size: 64px;
  padding-bottom: 20px;

}

.header h1, .header h3 {
  font-family: 'Bebas Neue', cursive;
  color:white;
  text-shadow: 0 2px 2px #9798a9;
  text-align: center;
}
