.navbar-vertical {
  background: #1a5b5f;
  position: fixed;
  top: 5vh;
  min-height: 625px;
  max-height: 925px;
  border-radius: 5px;
  z-index:99;
  width:175px;
}

.avatar {
  margin :15px auto;
  background: url(https://avatars2.githubusercontent.com/u/49406128?s=460&v=4);
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;
  width: 75px;
  height: 75px;
  border-radius:50%;
  border: solid 2px #e3d9f5;
}

.navigate {
  padding: inherit;
}

.navigate li {
  margin: 0px 20px;
  border-bottom: 1px solid #e3d9f5;
  padding: 20px 10px;
  font-size: 20px;
  color: #e3d9f5;
}

.navigate span {
  padding-left: 5px;
  color: #e3d9f5;
}

.links {
  border-top: solid 1px #e3d9f5;
  padding: 0px;
  padding-bottom: 15px;
  padding-top: 20px;
  bottom: 5px;
  position: absolute;
  margin: 0px 15px;
}

.links li {
  display: inline;
  padding: 5px 2px;
  color: #e3d9f5;
}

.links i {
  font-size: 30px;
  color: #e3d9f5;
}

@media(max-width: 768px) {
  .navbar-vertical {
  display: none;
  }
}
