.skills-flexbox{
 display: flex;
}

.skills{
  background-image:linear-gradient(180deg, rgba(23,1,1,0.73) 17%, rgba(23,1,1,0.60) 72%), url(images/header.jpg);
  background-size: cover;
  color: white;
  position: relative;
  z-index: -1;
  margin-top: -5%;
  padding-top: 10%;
  min-height: 55vh;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
}

.skills img {
  height: 50px;
  margin: 2px;
}

.stack{
  border-radius: 5px;
  background: rgba(0,0,0,0.5);
  border: solid 2px #1c5163;
  text-align: center;
  padding: 15px 10px;
  min-width: 350px;
  margin: 15px;
}

#technical-stack{
  margin-left: 130px;
}
