
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Poppins&display=swap');
@import "content.css";
@import "nav-bar.css";
@import "header.css";
@import "projects.css";
@import "skills.css";

/* -------------typo --------------*/

body {
  font-family: 'Poppins', sans-serif;
  background: #f7f7f9;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  font-size: 36px;
  text-decoration: underline;
  text-align: center;
}

 /*------- Annulation des styles a et ul -----*/
a {
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
 list-style: none;
}

 /* container pour s'adapter à la nav bar */
 .container-fluid {
  padding: 0;
 }

 .my-container {
  margin-left: 200px;
 }

@media (max-width: 768px) {
  .my-container{
    margin-left: 32px;
  }

}
 @media(min-width: 1300px) {
  .my-container {
    margin-left: 30%;
    max-width: 900px;
  }
 }

.gap {
  height: 67px;
}
