
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Poppins&display=swap');
@import "content.css";
@import "nav-bar.css";
@import "header.css";
@import "projects.css";
@import "skills.css";

/* -------------typo --------------*/
/*
font-family: 'Poppins', sans-serif;
font-family: 'Bebas Neue', cursive;*/

body{
  font-family: 'Poppins', sans-serif;
  background: #f7f7f9;
}

h3{
  font-family: 'Bebas Neue', cursive;
  font-size: 36px;
}

 /*------- Annulation des styles a et ul -----*/
a{
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
}
a:hover{
  text-decoration: none;
  color: inherit;
}

ul{
 list-style: none;
}

 /* container pour s'adapter à la nav bar */

 .my-container{
  margin :0px 100px 0px 275px;
  scroll-behavior: smooth;
 }

.gap{
  height: 67px;
}
